body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../images/background.jpg");
    
  
  }
  
  .posts{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
   }
  
  .posts-btn .home-btns{
    background-color: yellow;
    padding: 5px 15px;
    margin: 5px;
    border: none;
   }
  
  
  
  #createPost .modal-content {
    width: 85%;
    margin: 3% auto;
  }
  
  #createPost .modal-content .create-btn-tab .btn {
    padding: 5px 25px;
    border-radius: 0;
  }
  #createPost .modal-content .contents {
    min-height: 300px;
  }
  #createPost .modal-content .create-btn-tab {
    text-align: center;
  }